[submodule "q7"]
	path = q7
	url = https://github.com/anuvratsingh/q7
[submodule "emu-8"]
	path = emu-8
	url = https://github.com/anuvratsingh/emu-8/
[submodule "dumbKV"]
	path = dumbKV
	url = https://github.com/anuvratsingh/dumbKV
[submodule "rawhttp"]
	path = rawhttp
	url = https://github.com/anuvratsingh/rawhttp
